.header{
    display: flex;
    background-color:#1F2937; 
    color: #F9FAf8;
    justify-content: space-between;
    align-items: center;
    padding-left: 256px;
    padding-right: 256px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 24px;
    margin-top: auto;
    padding: auto;

    
}

.header ul{
    color: #F9FAf8;
    list-style-type: none;
    display: flex;
    gap: 8px;
    
    
}

.header ul a{
    text-decoration: none;
    color: #F9FAf8;
    font-weight: 100;

}

.body-1{
    display: flex;
    background-color:#1F2937; 
    color: #F9FAf8;
    padding-top: 18px;
    gap: 18px;
}

.left-body-1{
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 256px;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.right-body-1{
    padding-right: 256px;
}


.main-text-body-1{
    font-size: 48px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    
}
.subtext-body-1{
    font-size: 18px ;
    font-family: "Roboto", sans-serif;
    color: #e5e7eb;
    
}

.pic-1{
    width: 350px;
    height: 350px;
    justify-content: center;
    align-items: center;
}

.button{
    background-color: #3882f6; 
    color: #F9FAf8;
    font-family: "Roboto", sans-serif;
    font-size: medium;
    font-weight: 900;
    border-radius: 12px;
    width: 150px;
    margin-top: 16px;
}
.body-2{
    display: flex;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    justify-content: center;
    align-items: center;
    font-weight: extra-bold;
    color: #1F2937;
    margin-top: 32px;
    margin-bottom: 32px;
    padding: auto;
}

.pics-info{
    display: flex;
    gap: 18px;
    margin-bottom: 32px;
}

.mark{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    color: #1F2937;
    gap: 8px;

}

.landon{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    color: #1F2937;
    gap: 8px;
}

.miles{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    color: #1F2937;
    gap: 8px;
}

.zach{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    color: #1F2937;
    gap: 8px;
}


.mark-pic, .landon-pic, .zach-pic, .miles-pic{
    width: 350px;
    height: 350px;
}

.quote{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px;
    margin-top: 8px;
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-family: "Roboto", sans-serif;
}

.button-2{
    background-color: #3882f6; 
    color: #F9FAf8;
    font-family: "Roboto", sans-serif;
    font-size: medium;
    font-weight: 900;
    border-radius: 12px;
    width: 150px;
    margin-top: 16px;
}
.call-text{
    display: flex;
    flex-direction: column;
}
.call{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #3882f6;
    color: #F9FAf8;
    font-family: "Roboto", sans-serif;
    padding: 32px;
    margin: 64px; 
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAf8;
    font-family: "Roboto", sans-serif;
    background-color: #1F2937;
    margin-top: auto;
    padding: 32px;

}